NEXORA_APP_NAME=Nexora
NEXORA_ENVIRONMENT=development
NEXORA_API_KEY=
NEXORA_RATE_LIMIT=60
NEXORA_RATE_WINDOW_SECONDS=60
NEXORA_REQUEST_TIMEOUT_SECONDS=30
NEXORA_MAX_RETRIES=2
NEXORA_CIRCUIT_FAILURE_THRESHOLD=5
NEXORA_CIRCUIT_RECOVERY_SECONDS=30
NEXORA_LOG_LEVEL=INFO
